/* -------- PAGE VOTRE COMPTE -------- */

.login-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-form label {
  font-weight: bold;
  color: #333;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-form .btn-connexion {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form .btn-connexion:hover {
  background-color: #0056b3;
}

.login-form .btn-inscription {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form .btn-inscription:hover {
  background-color: #aaa;
}


.btn-deconnexion {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-deconnexion:hover {
  background-color: #c82333;
}
